<section class="gens-container">
  <header class="main-header">
    <h2 class="main-title">{{ title }}</h2>
  </header>
  <section class="controls">
    <isdi-info [selectedGentlemenLength]="selectedGentlemen().length" />
    <isdi-button-all (selectAllEvent)="selectAll()" />
  </section>
  <main class="main">
    <ul class="gentlemen">
      @for (item of gentlemen; track item.id) {
        <isdi-gentleman
          [gent]="item"
          (deleteGentEvent)="deleteItem($event)"
          (selectGentEvent)="selectItem($event)"
        />
      }
    </ul>
  </main>
</section>
