<section class="gens-container">
  <header class="main-header">
    <h2 class="main-title">{{ title }}</h2>
  </header>
  <section class="controls">
    <isdi-info [selectedGentlemen]="selectedGentlemen.bind(this)" />
    <isdi-button-all [selectAll]="selectAll.bind(this)" />
  </section>
  <main class="main">
    <ul class="gentlemen">
      @for (item of gentlemen; track item.id) {
        <isdi-gentleman
          [gent]="item"
          [deleteItem]="deleteItem"
          [selectItem]="selectItem"
        />
      }
    </ul>
  </main>
</section>
